{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "array-bracket-spacing": [2, "never"],
    "comma-style": [2, "last"],
    "computed-property-spacing": [2, "never"],
    "default-case": 2,
    "eqeqeq": 2,
    "indent": [2, 2],
    "max-len": [1, 100, 2],
    "no-lonely-if": 2,
    "no-multi-spaces": 2,
    "no-multiple-empty-lines": 2,
    "no-nested-ternary": 2,
    "no-new-require": 2,
    "no-underscore-dangle": 2,
    "no-unused-expressions": 0,
    "no-use-before-define": 0,
    "no-var": 2,
    "object-curly-spacing": [2, "always"],
    "quotes": [1, "single", "avoid-escape"],
    "semi": 2,
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "space-before-keywords": [2, "always"],
    "strict": 0
  }
}
