$text-color: #373a3c;
$link-color: #4183c4;
$primary-color: #1887fe;
$danger-color: #ec5d57;
$warning-color: #f0ad4e;
$success-color: #5cb85c;
$info-color: #5bc0de;
$muted-color: #818a91;

$balloon-background-color: #fff;
$balloon-shadow-color: rgba(0, 0, 0, 0.2);
$balloon-border-color: #d0d2d4;
$arrow-size: 12px;

$event-icon-color: #b2b8bc;
$event-border-color: #f0f0f4;
$event-date-color: #a8aeb2;

$notification-icon-color: #373a3c;
$notification-border-color: #d0d2d4;
$notification-date-color: #a8aeb2;
